[submodule "nvim"]
	path = nvim
	url = https://codeberg.org/DrKJeff16/Jnvim.git
	branch = main
[submodule "wezterm/wezterm-types"]
	path = wezterm/wezterm-types
	url = https://github.com/DrKJeff16/wezterm-types.git
	branch = main
